openapi: 3.0.0

info:
  title: PagerTree API YAML
  description: 'This is the Swagger definition file for <a href="https://apidocs.pagertree.com">https://apidocs.pagertree.com</a>. Use this file to generate SDKs.'
  version: 1.0.0

externalDocs:
  description: API Documentation
  url: https://apidocs.pagertree.com

servers:
  - url: https://api.pagertree.com

security:
  - BearerAuth: []
  - APIKey: []

paths:
  /integration:
    post:
      summary: "Create an Integration"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegrationBase"

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "List all Integrations"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedIntegrations"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /integration/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      summary: "Retrieve an Integration"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    put:
      summary: "Update an Integration"
      responses:
        "200":
          description: Success - The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: "Delete an integration"
      responses:
        "204":
          $ref: "#/components/responses/Delete204"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Delete404"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    APIKey:
      type: apiKey
      description: API key to authorize request
      name: x-api-key
      in: header
    BearerAuth:
      type: http
      scheme: bearer

  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: "A limit on the number of objects to be returned, between 1 and 100"
      schema:
        type: "number"
    offset:
      name: offset
      in: query
      description: "A cursor to use in pagination. The number of elements to skip."
      schema:
        type: "number"
    page:
      name: page
      in: query
      description: "A cursor to use in pagination. Uses the limit to calculate current offset"
      schema:
        type: "number"

  responses:
    BadRequest:
      description: Bad Request- The request was unacceptable, often due to a missing required parameter.
    Unauthorized:
      description: Unauthorized - A valid JWT token or API Key + Secret was not provided.
    Forbidden:
      description: Forbidden - You don't have access to the resource requested.
    NotFound:
      description: Not Found - The specified resource does not exist.
    Conflict:
      description: Conflict - The request conflicts with another request (perhaps using the same id or key).
    TooManyRequests:
      description: Too Many Requests - Too many request hit the API too quickly. We recommend an exponential backoff.
    InternalServerError:
      description: Internal Server Error - Something went wrong on PagerTree's servers. (These are rare).
    Delete204:
      description: Success - The resource was deleted successfully.
    Delete404:
      description: Failure - There was an error deleting the resource.

  schemas:
    Base:
      type: "object"
      properties:
        sid:
          type: "string"
        id:
          type: "string"
        meta:
          type: "object"
          additionalProperties:
            type: "string"
        tinyId:
          type: "number"
        createdAt:
          type: "string"
          format: "date-time"
        updatedAt:
          type: "string"
          format: "date-time"

    AlertUrgency:
      type: "string"
      enum:
        - low
        - medium
        - high
        - critical
      default: medium

    IntegrationType:
      type: "string"
      enum:
        - amazonwebservices
        - apexping
        - appdynamics
        - cronitorio
        - datadog
        - deadmanssnitch
        - elastalert
        - email
        - freshdesk
        - freshservice
        - grafana
        - healthchecksio
        - hyperping
        - jiraserver
        - jotform
        - kapacitor
        - newrelic
        - outgoingwebhook
        - pingdom
        - prometheus
        - prtg
        - serverguard24
        - site24x7
        - slackoutgoingwebhook
        - solarwinds
        - stackdriver
        - statuscake
        - twilio_livecallrouting
        - typeform
        - uptime
        - uptimerobot
        - webhook
        - zendesk

    IntegrationBase:
      type: "object"
      properties:
        name:
          type: "string"
        type:
          $ref: "#/components/schemas/IntegrationType"
        urgency:
          $ref: "#/components/schemas/AlertUrgency"
        destination_ids:
          type: "array"
          items:
            type: string

    Integration:
      allOf:
        - $ref: "#/components/schemas/Base"
        - $ref: "#/components/schemas/IntegrationBase"
        - type: "object"
          properties:
            enabled:
              type: boolean
            options:
              type: "object"
              additionalProperties:
                type: string

    IntegrationsArray:
      type: "array"
      items:
        $ref: "#/components/schemas/Integration"

    PaginatedIntegrations:
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/Integration"
        has_more:
          type: "boolean"
        total_count:
          type: "number"
