openapi: 3.0.0

info:
  title: PagerTree API YAML
  description: 'This is the Swagger definition file for <a href="https://apidocs.pagertree.com">https://apidocs.pagertree.com</a>. Use this file to generate SDKs.'
  version: 1.0.0

externalDocs:
  description: API Documentation
  url: https://apidocs.pagertree.com

servers:
  - url: https://api.pagertree.com

security:
  - APIKey: []
    APISecret: []
  - JWT: []

paths:
  /account/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      summary: "Retrieve an Account"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    put:
      summary: "Update an Account"
      responses:
        "200":
          description: Success - The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: "Delete an Account - DANGER - This will delete all the resources under this account."
      responses:
        "204":
          $ref: "#/components/responses/Delete204"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Delete404"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /alert:
    post:
      summary: "Create an Alert"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertBase"

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "List all Alerts"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAlerts"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
  /alert/mass-action:
    parameters:
      - $ref: "#/components/parameters/id"
    post:
      summary: "Perform a mass action on many alerts"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: "The id of the user or team the alert should be handed off to."
                  enum:
                    - acknowledge
                    - reject
                    - resolve
                    - delete
                    - archive
                alert_ids:
                  type: array
                  items:
                    type: string
                    description: 'The alert ids to perform the action on.'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /alert/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      summary: "Retrieve an Alert"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    put:
      summary: "Update an Alert"
      responses:
        "200":
          description: Success - The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: "Delete an Alert"
      responses:
        "204":
          $ref: "#/components/responses/Delete204"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Delete404"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
  
  /alert/{id}/acknowledge:
    parameters:
      - $ref: "#/components/parameters/id"
    post:
      summary: "Acknowledge an Alert"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /alert/{id}/reject:
    parameters:
      - $ref: "#/components/parameters/id"
    post:
      summary: "Reject an Alert"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /alert/{id}/resolve:
    parameters:
      - $ref: "#/components/parameters/id"
    post:
      summary: "Resolve an Alert"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /alert/{id}/archive:
    parameters:
      - $ref: "#/components/parameters/id"
    post:
      summary: "Archive an Alert"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /alert/{id}/handoff:
    parameters:
        - $ref: "#/components/parameters/id"
    post:
      summary: "Handoff an Alert"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  type: string
                  description: "The id of the user or team the alert should be handed off to."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /integration:
    post:
      summary: "Create an Integration"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegrationBase"

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: "List all Integrations"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedIntegrations"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

  /integration/{id}:
    parameters:
      - $ref: "#/components/parameters/id"
    get:
      summary: "Retrieve an Integration"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    put:
      summary: "Update an Integration"
      responses:
        "200":
          description: Success - The resource was updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: "Delete an Integration"
      responses:
        "204":
          $ref: "#/components/responses/Delete204"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Delete404"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "5XX":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    APIKey:
      type: apiKey
      description: API key to authorize request
      name: x-api-key
      in: header
    APISecret:
      type: apiKey
      description: API secrete to authorize request
      name: x-api-secret
      in: header
    JWT:
      type: http
      scheme: bearer

  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: "A limit on the number of objects to be returned, between 1 and 100"
      schema:
        type: "number"
    offset:
      name: offset
      in: query
      description: "A cursor to use in pagination. The number of elements to skip."
      schema:
        type: "number"
    page:
      name: page
      in: query
      description: "A cursor to use in pagination. Uses the limit to calculate current offset"
      schema:
        type: "number"

  responses:
    BadRequest:
      description: Bad Request- The request was unacceptable, often due to a missing required parameter.
    Unauthorized:
      description: Unauthorized - A valid JWT token or API Key + Secret was not provided.
    Forbidden:
      description: Forbidden - You don't have access to the resource requested.
    NotFound:
      description: Not Found - The specified resource does not exist.
    Conflict:
      description: Conflict - The request conflicts with another request (perhaps using the same id or key).
    TooManyRequests:
      description: Too Many Requests - Too many request hit the API too quickly. We recommend an exponential backoff.
    InternalServerError:
      description: Internal Server Error - Something went wrong on PagerTree's servers. (These are rare).
    Delete204:
      description: Success - The resource was deleted successfully.
    Delete404:
      description: Failure - There was an error deleting the resource.

  schemas:
    Base:
      type: "object"
      properties:
        sid:
          type: "string"
          description: "Security identifier for the object."
        id:
          type: "string"
          description: "Unique identifier for the object."
        meta:
          type: "object"
          description: "Free form metadata."
          additionalProperties:
            type: "string"
        tinyId:
          type: "number"
          description: "Human friendly id."
        createdAt:
          type: "string"
          format: "date-time"
          description: "Timestamp when this object was first created."
        updatedAt:
          type: "string"
          format: "date-time"
          description: "Timestamp when this object was last updated."

    AlertType:
      type: "string"
      description: "The alert type."
      enum:
        - admin
        - alert
        - event
        - campaign
        - billing
        - selfservice
      default: alert

    AlertSubtype:
      type: "string"
      description: "The alert subtype."
      enum:
        - alert
        - broadcast
        - page
        - handoff
        - stakeholder
        - feedback
        - rejected
        - resolved
        - acknowledged
        - timeout
        - dropped
        - voicemail
        - goc
        - welcome
        - followup
        - card_expiring
        - charge_succeeded
        - charge_failed
        - credit_expired
        - credit_recharge
        - credit_shortage
        - trial_ending
        - trial_ended
        - subscription_deleted
        - verify_email
        - verify_phone
        - invite
        - forgot_password
        - reset_password
        - unknown_email
        - integration_alert_create_throttled
        - integration_request_throttled
      default: alert

    AlertStatus:
      type: "string"
      description: "Options for alert status."
      enum:
        - open
        - acknowledged
        - resolved
        - dropped
        - archived
        - suppressed
        - aggregating
        - routable
        - errored

    AlertSeverity:
      type: "string"
      description: "Options for alert severity."
      enum:
        - SEV-1
        - SEV-2
        - SEV-3
        - SEV-4
        - SEV-5

    AlertUrgency:
      type: "string"
      description: "Options for alert urgency."
      enum:
        - low
        - medium
        - high
        - critical
      default: medium

    IntegrationType:
      type: "string"
      description: "Options for integration type."
      enum:
        - amazonwebservices
        - apexping
        - appdynamics
        - cronitorio
        - datadog
        - deadmanssnitch
        - elastalert
        - email
        - freshdesk
        - freshservice
        - grafana
        - healthchecksio
        - hyperping
        - jiraserver
        - jotform
        - kapacitor
        - newrelic
        - outgoingwebhook
        - pingdom
        - prometheus
        - prtg
        - serverguard24
        - site24x7
        - slackoutgoingwebhook
        - solarwinds
        - stackdriver
        - statuscake
        - twilio_livecallrouting
        - typeform
        - uptime
        - uptimerobot
        - webhook
        - zendesk

    NotificationTemplate:
      type: object
      properties:
        push:
          type: object
          properties:
            subject:
              type: string
              description: "The subject template to substitute. Goes to title of push notification."
            message:
              type: string
              description: "The message template to substitute. Goes to body of push notifcation."
        email:
          type: object
          properties:
            subject:
              type: string
              description: "The subject template to substitute. This is the email subject."
            message:
              type: string
              description: "The message template to substitute. This is the email body."
        sms:
          type: object
          properties:
            message:
              type: string
              description: "The message template to substitute. This is the SMS body."
        voice:
          type: object
          properties:
            message:
              type: string
              description: "The message template to substitute. The text that will be read to the user."
            acknowledge:
              type: number
              description: "The dial tone number that acknowledges the alert."
            reject:
              type: number
              description: "The dial tone number that rejects the alert."

    AccountBase:
      type: "object"
      properties:
        name:
          type: "string"
          description: "The name of the account."
        token_id: 
          type: "string"
          description: "The unique identifier of the token to use for invites to join the account."
        stripe:
          type: "object"
          description: "The Stripe customer / subscription"
          readOnly: true
          properties:
            customer:
              type: object
            subscription:
              type: object
        sso:
          type: object
          description: "Single Sign On settings"
          properties:
            enabled:
              type: boolean
            type:
              type: string
            saml_url:
              type: string
            issuer_url:
              type: string
            saml_x509:
              type: string
            tenant_id:
              type: string
        notification_templates:
          type: object
          description: "Notification templates for the different notification alert.subtype"
          properties:
            alert_acknowledged:
              $ref: '#/components/schemas/NotificationTemplate'
            alert_alert:
              $ref: '#/components/schemas/NotificationTemplate'
            alert_broadcast:
              $ref: '#/components/schemas/NotificationTemplate'
            alert_dropped:
              $ref: '#/components/schemas/NotificationTemplate'
            alert_handoff:
              $ref: '#/components/schemas/NotificationTemplate'
            alert_page:
              $ref: '#/components/schemas/NotificationTemplate'
            alert_rejected:
              $ref: '#/components/schemas/NotificationTemplate'
            alert_stakeholder:
              $ref: '#/components/schemas/NotificationTemplate'
            alert_timeout:
              $ref: '#/components/schemas/NotificationTemplate'
            event_goc:
              $ref: '#/components/schemas/NotificationTemplate'
    Account:
      allOf:
        - $ref: "#/components/schemas/Base"
        - $ref: "#/components/schemas/AccountBase"

    AlertBase:
      type: "object"
      properties:
        name:
          type: "string"
          description: "The name of the account."
        destination_ids:
          type: "array"
          description: "Where to route the alert to. Should be team, router, or user id."
          items:
            type: string
        title:
          type: string
          description: "The title of the alert."
        
    Alert:
      allOf:
        - $ref: "#/components/schemas/Base"
        - $ref: "#/components/schemas/AlertBase"
        - type: "object"
          properties:
            parent_id:
              type: string
              description: "Parent alert id - For grouping and aggregating."
            thirdparty_id:
              type: string
              description:  "This is set by PagerTree integration during the alert transformation process."
            description:
              type: string
              description: "The description of the alert."
            type:
              $ref: '#/components/schemas/AlertType'
            subtype:
              $ref: '#/components/schemas/AlertSubtype'
            status:
              $ref: '#/components/schemas/AlertStatus'
            urgency:
              $ref: '#/components/schemas/AlertUrgency'
            d_team_id:
              type: string
              description: "The team id this alert is assigned to."
              readOnly: true
            d_user_id:
              type: string
              description: "The user id this alert is assigned to."
              readOnly: true
            s_log_id:
              type: string
              description: "The log id (if any) that created this alert."
              readOnly: true
            created:
              type: number
              description: "The unix timestamp this alert was created."
              readOnly: true
            acknowledged:
              type: number
              description: "The unix timestamp this alert was acknowledged."
              readOnly: true
            acknowledgeby:
              type: string
              description: "The id of the object that acknowledged this alert."
              readOnly: true
            resolved:
              type: number
              description: "The unix timestamp this alert was resolved."
              readOnly: true
            resolvedby:
              type: string
              description: "The id of the object that resolved this alert."
              readOnly: true
            archived:
              type: number
              description: "The unix timestamp this alert was archived."
              readOnly: true
            archivedby:
              type: string
              description: "The id of the object that archived this alert."
              readOnly: true
            livecall:
              type: string
              description: "The Twilio Queue Id of the waiting call."
              readOnly: true
            source_id:
              type: string
              description: "The id of the user or integration that created this alert."
            response_requested:
              type: boolean
              description: "For broadcasts, falg indicating if a response was requested."
              default: false
            tags:
              type: "array"
              description: "An array of strings. Each represents a tag."
              items:
                type: string
            additional_data:
              type: "array"
              description: "An array of objects containing additional data from an integration."
              items:
                type: object
                properties:
                  type:
                    type: "string"
                    enum:
                      - text
                      - link
                      - img
                      - email
                      - email[]
                  label:
                    type: string
                  value:
                    type: string
            stakeholder_ids:
              type: array
              description: "An array of stakeholder ids."
              items:
                type: string
            handoffs:
              type: array 
              description: "An array of objects contain information regargind handoffs"
              readOnly: true
              items:
                type: object
                properties:
                  to: 
                    type: string
                    description: "The id that the alert is being handed off to."
                  from:
                    type: string
                    description: "The user id that is handing off the alert."
                  time:
                    description: "The unix timestamp that the handoff occured."
                    type: number
                  acknowledged:
                    description: "The unix timestamp that the previous workflow was acknowledged"
                    type: number
            bridge_id:  
              type: string
              description: "The id of the bridge that is attached to this bridge"

    IntegrationBase:
      type: "object"
      properties:
        name:
          type: "string"
          description: "The name of the integration."
        type:
          $ref: "#/components/schemas/IntegrationType"
        urgency:
          $ref: "#/components/schemas/AlertUrgency"
        destination_ids:
          type: "array"
          description: "Where to route the alert to."
          items:
            type: string

    Integration:
      allOf:
        - $ref: "#/components/schemas/Base"
        - $ref: "#/components/schemas/IntegrationBase"
        - type: "object"
          properties:
            enabled:
              type: boolean
            options:
              type: "object"
              additionalProperties:
                type: string

    ArrayAlert:
      type: "array"
      items:
        $ref: "#/components/schemas/Alert"

    ArrayIntegration:
      type: "array"
      items:
        $ref: "#/components/schemas/Integration"

    PaginatedAlerts:
      type: "object"
      properties:
        data:
          $ref: "#/components/schemas/ArrayAlert"
        has_more:
          type: "boolean"
        total_count:
          type: "number"

    PaginatedIntegrations:
      type: "object"
      properties:
        data:
          $ref: "#/components/schemas/ArrayIntegration"
        has_more:
          type: "boolean"
        total_count:
          type: "number"
